/*Global styles to this file, and also import other style files */
.cliccable {
    cursor:pointer;
    padding: 4px;
}

button{
    background-color: #1976d2;
    padding:20px;
    margin:20px auto;
    color:whitesmoke;
    border-radius:4px;
}

button:disabled{
    background-color: whitesmoke;
    color:gray;
}

button.delete{
 background-color: coral;
 margin-left: 16px;
 padding-top: 5px;
 padding-bottom: 5px;
 color:navy;
}